<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCRestfulRedis:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCRestfulRedis.war">
      <element id="artifact" artifact-name="SpringMVCRestfulRedis:war exploded" />
    </root>
  </artifact>
</component>